# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# pycache
__pycache__/
*.py[cod]

build/
log/
catkin_ws/build
catkin_ws/devel
install/
data/*
src/nerfstudio
ros2/build
ros2/install
ros2/log

# Auto generated Clearpath files
clearpath/setup.bash
clearpath/robot.srdf
clearpath/robot.srdf.xacro
clearpath/robot.urdf.xacro
clearpath/sensors
clearpath/platform
clearpath/manipulators

!data/README.md


